{
    "parser": "babel-eslint",
    "env": {
        "browser": true,
        "jest/globals": true
    },
    "extends": ["airbnb", "plugin:jest/recommended", "prettier"],
    "plugins": ["react", "jest"],
    "rules": {
        "react/jsx-filename-extension": [
            1,
            {
                "extensions": [".js", ".jsx"]
            }
        ],
        "react/jsx-indent": ["warn", 4],
        "react/jsx-indent-props": ["warn", 4],
        "indent": [
            "warn",
            4,
            {
                "SwitchCase": 1
            }
        ],
        "react/destructuring-assignment": ["off"],
        "comma-dangle": ["error", "never"]
    }
}
