.flightInfo:first-child {
    text-align: left;
}

.flightInfo:last-child {
    text-align: right;
}

.time {
    font: var(--h1);
    color: var(--color-grey);
    margin-bottom: 10px;
}

.city {
    font: var(--p3);
    font-weight: 600;
    color: var(--color-grey);
}

.date {
    font: var(--p3);
    color: var(--color-grey-light);
}
