.flightInfo:first-child {
    text-align: left;
}

.flightInfo:last-child {
    text-align: right;
}

.time {
    font: var(--h3);
    color: var(--color-twilight);
    margin-bottom: 10px;
}

.location {
    font: var(--p3);
    font-weight: 600;
    color: var(--color-metal);
}

.date {
    font: var(--p3);
    color: var(--color-metal);
}
