.triggerContainer {
    /* display: flex;
    align-items: center;
    justify-content: center; */
    box-sizing: border-box;
    background-color: var(--color-white);
    margin-bottom: 2px;
    margin-right: 0;
    cursor: pointer;
    height: 60px;

    &.isFirst {
        border-radius: 5px 5px 0 0;
    }
}

@media (min-width: 500px) {
    .triggerContainer {
        margin-right: 2px;
        margin-bottom: 0;

        &.isFirst {
            border-radius: 5px 0 0 5px;
        }
    }
}

.triggerText {
    height: 60px;
    width: 100%;
    box-sizing: border-box;
    font: 200 19px/42px 'Arial', sans-serif;
    margin: 0;
    user-select: none;
    padding: 9px 18px;
    color: #484848;

    &.placeholder {
        opacity: 0.5;
    }
}

.itemList {
    position: absolute;
    top: 49px;
    right: 2px;
    margin: 0;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.25);
    padding: 15px 0;
    background: white;
}

.item {
    list-style-type: none;
    font: var(--p2);
    line-height: 35px;
    text-align: left;
    cursor: pointer;
    padding: 0 15px;
    outline: none;

    &:hover {
        background-color: var(--color-blue-light-background);
    }
}

.iataCode,
.name {
    color: var(--color-twilight);
}

.iataCode {
    margin-right: 15px;
}
