.container {
    border-radius: 5px;
    box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.15);
    background-color: var(--color-white);
    padding: 15px 0;
    min-width: max-content;
}

.title {
    text-align: left;
    text-transform: uppercase;
    font: var(--p3);
    font-weight: 600;
    letter-spacing: 0.5px;
    color: var(--color-twilight);
    margin-bottom: 11px;
    padding: 0 15px;
}

.filters {
    display: flex;
    flex-direction: column;
    font: var(--p3);
    line-height: 35px;
    color: var(--color-twilight);
}

@media (max-width: 768px) {
    .container,
    .filters {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .container {
        min-width: var(--min-ticket-width);
    }

    .title {
        margin-bottom: 0;
    }
}

.filterItem {
    font: var(--p3);
    line-height: 35px;
    color: var(--color-twilight);
}
