.button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--color-orange);
    width: 100%;
    max-width: 165px;
    height: 48px;
    box-shadow: 0 1px 0 0 var(--color-orange-dark), 0 2px 1px 0 rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    font: var(--p1);
    text-align: center;
    color: var(--color-white);
    user-select: none;
    cursor: pointer;

    &:hover {
        border-bottom-color: transparent;
        background-color: #ffa353;
        transition: all 0.3s;
    }
}

.buttonText,
.buttonPrice {
    margin: 0 auto;
}

.buttonText {
    font-weight: 600;
}
