{
    "parser": "babel-eslint",
    "env": {
        "browser": true
    },
    "extends": "airbnb",
    "plugins": [
        "react"
    ],
    "rules": {
        "react/jsx-filename-extension": [
            1,
            {
                "extensions": [
                    ".js",
                    ".jsx"
                ]
            }
        ],
        "react/jsx-indent": [
            "warn",
            4
        ],
        "react/jsx-indent-props": [
            "warn",
            4
        ],
        "indent": [
            "warn",
            4
        ]
    }
}