.button {
    border: none;
    box-sizing: border-box;
    display: block;
    text-align: center;
    height: 100%;
    width: 100%;
    border-radius: 5px;
    color: var(--color-white);
    font: var(--h4);
    cursor: pointer;
    user-select: none;
    background-color: var(--color-orange);
    box-shadow: 0 1px 0 0 var(--color-orange-dark), 0 2px 1px 0 rgba(0, 0, 0, 0.1);

    &:hover {
        border-bottom-color: transparent;
        background-color: #ff8a32;
        transition: all 0.3s;
    }
}
