.container {
    width: 232px;
    height: 331px;
    border-radius: 5px;
    box-shadow: 0 1px 4px 0 rgba(91, 137, 164, 0.25);
    background-color: var(--color-white);
    margin-right: 20px;
    padding: 15px 0;
}

.title {
    text-align: left;
    text-transform: uppercase;
    font: var(--p3);
    font-weight: 600;
    letter-spacing: 0.5px;
    color: var(--color-twilight);
    margin-bottom: 11px;
    padding: 0 15px;
}

.filters {
    display: flex;
    flex-direction: column;
    font: var(--p3);
    line-height: 35px;
    color: var(--color-twilight);
}

.filterItem {
    font: var(--p3);
    line-height: 35px;
    color: var(--color-twilight);
}
