.container {
    width: 100%;
    max-width: var(--max-ticket-width);
    min-height: 140px;
    padding: 15px 25px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.15);
    background-color: var(--color-white);
    color: var(--color-twilight);
}

.text {
    font: var(--h5);
    margin: auto;
    margin-bottom: 0;
}

.resetButton {
    margin-top: 25px;
    cursor: pointer;
    user-select: none;
    max-width: 165px;
}

.buttonText {
    line-height: 45px;
}
