.container {
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.15);
    background-color: var(--color-white);
    padding: 15px 25px;
    margin-bottom: 12px;
}

.filters {
    display: flex;
    flex-direction: column;
    width: 100%;
    font: var(--p3);
    line-height: 35px;
    color: var(--color-twilight);
}

.title {
    text-align: left;
    text-transform: uppercase;
    font: var(--p3);
    font-weight: 600;
    letter-spacing: 0.5px;
    color: var(--color-twilight);
    margin-bottom: 11px;
}

.filterItem {
    font: var(--p3);
    line-height: 35px;
    color: var(--color-twilight);
    margin-right: 15px;

    &:last-of-type {
        margin-right: 0;
    }
}

@media (min-width: 425px) {
    .container,
    .filters {
        flex-direction: row;
    }

    .container {
        max-width: var(--max-ticket-width);
        align-items: center;
    }

    .filters {
        justify-content: space-around;
    }

    .title {
        margin-bottom: 0;
        margin-right: 15px;
    }
}

@media (min-width: 768px) {
    .container {
        width: auto;
        flex-direction: column;
        min-width: max-content;
        align-items: flex-start;
        margin-bottom: 0;
        margin-right: 20px;
        height: max-content;
        padding: 15px 0;
    }

    .filters {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .title {
        margin-bottom: 11px;
        margin-right: 0;
        padding: 0 15px;
    }

    .filterItem {
        padding: 0 15px;
        width: 100%;
        box-sizing: border-box;
        margin: 0;
    }
}
