.flightInfo {
    width: 105px;
}

.flightInfo:first-child {
    text-align: left;
}

.flightInfo:last-child {
    text-align: right;
}

.time {
    font: 28px/40px 'Open Sans', sans-serif;
    color: var(--color-twilight);
}

.location,
.date {
    font: var(--p3);
    color: var(--color-metal);
}

.location {
    font-weight: 600;
}
