.flightInfo {
    width: 100%;

    &:first-child {
        text-align: left;
        margin-right: 10px;
    }

    &:last-child {
        text-align: right;
        margin-left: 10px;
    }
}

.time {
    font: 28px/40px 'Open Sans', sans-serif;
    color: var(--color-twilight);
}

.location,
.date {
    font: var(--p3);
    color: var(--color-metal);
}

.location {
    font-weight: 600;
}
