.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: max-content;
    max-width: 100%;
    margin: 0 auto;
    box-sizing: border-box;
}

.filters {
    min-width: max-content;
    margin-bottom: 12px;
}

@media (min-width: 768px) {
    .container {
        flex-direction: row;
    }

    .filters {
        margin-bottom: 0;
        margin-right: 20px;
    }
}
