.SingleDatePicker.SingleDatePicker_1 {
    width: 100%;
}

.DateInput.DateInput_1 {
    width: 100%;
}

.DateInput_input.DateInput_input_1 {
    padding: 1px 18px 0;
    height: 60px;
    box-sizing: border-box;
    box-shadow: none;
    border: none;
}

.SingleDatePickerInput.SingleDatePickerInput_1 {
    display: flex;
    padding-right: 0;
}

.DateInput_input.DateInput_input_1,
.DateInput.DateInput_1,
.SingleDatePickerInput.SingleDatePickerInput_1 {
    border-radius: 0 0 5px 5px;
}

input:placeholder-shown {
    opacity: 0.5;
}

.SingleDatePickerInput_calendarIcon_1,
.SingleDatePickerInput_clearDate__default_2 {
    display: none;
}

@media (min-width: 640px) {
    .DateInput_input.DateInput_input_1,
    .DateInput.DateInput_1,
    .SingleDatePickerInput.SingleDatePickerInput_1 {
        border-radius: 0 5px 5px 0;
    }
}

@media (min-width: 768px) {
    .DateInput_input.DateInput_input_1 {
        padding-right: 0;
    }

    .SingleDatePickerInput_calendarIcon_1,
    .SingleDatePickerInput_clearDate__default_2 {
        display: inline-block;
        outline: none;
        padding: 0;
        margin: 0 15px;
        vertical-align: middle;
    }

    .SingleDatePickerInput_clearDate__default_2:hover {
        background: none;
    }
}
