.SingleDatePickerInput.SingleDatePickerInput_1 {
    padding-right: 0;
    border-radius: 0 5px 5px 0;
}

.DateInput_input.DateInput_input_1 {
    padding-right: 0;
}

/* input[value] {
    color: red;
} */

input:placeholder-shown {
    opacity: 0.5;
}

.SingleDatePickerInput_calendarIcon.SingleDatePickerInput_calendarIcon_1 {
    outline: none;
}

.SingleDatePickerInput_clearDate.SingleDatePickerInput_clearDate_1.SingleDatePickerInput_clearDate__default.SingleDatePickerInput_clearDate__default_2 {
    display: inline;
    position: static;
    transform: none;
    outline: none;
    margin: 0 5px 0 10px;
}

.SingleDatePickerInput_clearDate.SingleDatePickerInput_clearDate_1.SingleDatePickerInput_clearDate__default.SingleDatePickerInput_clearDate__default_2:hover {
    background: none;
}
