.container {
    display: flex;
    background-color: var(--color-blue-white);
    height: 100vh;
    transition: height 0.3s cubic-bezier(0.23, 1, 0.32, 1);

    &.hasTickets {
        height: 368px;
    }
}

.innerContainer {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0 20px;
    width: 100%;
    max-width: var(--max-width);
    min-width: var(--min-width);
}

@media (min-width: 640px) {
    .container {
        &.hasTickets {
            height: 175px;
        }
    }
}
