.container {
    display: flex;
    background-color: var(--color-blue-white);
    height: 100vh;
    transition: height 0.3s cubic-bezier(0.23, 1, 0.32, 1);

    &.hasTickets {
        height: 368px;
    }
}

.innerContainer {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0 20px;
    width: 100%;
    max-width: var(--max-width);
}

@media (min-width: 640px) {
    .container {
        &.hasTickets {
            height: 175px;
        }
    }
}

.isLoading {
    height: 4px;
    width: 100vw;
    position: fixed;
    top: 0;
    overflow: hidden;
    background-color: #ddd;

    &::before {
        display: block;
        position: absolute;
        content: "";
        left: -200px;
        width: 200px;
        height: 4px;
        background-color: #2980b9;
        animation: loading 2s linear infinite;
    }
}

@keyframes loading {
    from {
        left: -200px;
        width: 30%;
    }
    50% { width: 30%; }
    70% { width: 70%; }
    80% { left: 50%; }
    95% { left: 120%; }
    to { left: 100%; }
}
