.container {
    box-sizing: border-box;
    padding: 0 20px;
    margin: 0 auto;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    background-color: var(--color-blue-white);
}

.logo {
    margin-left: -10px;
}
