.container {
    width: 100%;
    min-width: var(--min-width);
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    border-radius: 5px;
    box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.15);
    background-color: var(--color-white);
    padding: 15px 25px;
    margin-bottom: 12px;
}

.title {
    text-align: left;
    text-transform: uppercase;
    font: var(--p3);
    font-weight: 600;
    letter-spacing: 0.5px;
    color: var(--color-twilight);
    margin-bottom: 11px;
}

.filters {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    font: var(--p3);
    line-height: 35px;
    color: var(--color-twilight);
}

.filterItem {
    font: var(--p3);
    line-height: 35px;
    color: var(--color-twilight);
    padding-right: 20px;
    padding-left: 5px;
    margin-right: 10px;

    &:hover {
        background-color: var(--color-blue-light-background);
    }

    &:last-of-type {
        margin-right: 0;
    }
}

@media (min-width: 425px) {
    .container {
        max-width: var(--max-ticket-width);
        align-items: center;
    }
}

@media (min-width: 768px) {
    .container {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: auto;
        min-width: max-content;
        height: max-content;
        margin-bottom: 0;
        margin-right: 20px;
        padding: 15px 0;
    }

    .filters {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .title {
        padding: 0 15px;
    }

    .filterItem {
        padding: 0 15px;
        width: 100%;
        box-sizing: border-box;
        margin: 0;
    }
}
