.card {
    box-sizing: border-box;
    display: flex;
    flex-direction: column-reverse;
    width: 100%;
    min-width: max-content;
    max-width: var(--max-ticket-width);
    border-radius: 5px;
    box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.15);
    background-color: var(--color-white);
    margin-bottom: 20px;

    &:hover {
        box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.15);
    }
}

.card:last-child {
    margin-bottom: 0;
}

.price {
    min-width: max-content;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid var(--color-metal-background);
    padding: 10px 20px;
}

.details {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-width: max-content;
    width: 100%;
    box-sizing: border-box;
    padding: 10px 20px;
}

.carrierLogo {
    width: 96px;
    height: 48px;
}

@media (min-width: 425px) {
    .details,
    .price {
        padding: 10px 35px;
    }
}

@media (min-width: 571px) {
    .card {
        flex-direction: row;
    }

    .price {
        border-top: none;
        border-right: 1px solid var(--color-metal-background);
        flex-direction: column;
        justify-content: center;
    }

    .price,
    .details {
        padding: 20px 25px;
    }

    .carrierLogo {
        width: 120px;
        height: 60px;
        margin-bottom: 12px;
    }
}

@media (min-width: 768px) {
    .card {
        min-width: var(--max-ticket-width);
    }
}
