.container {
    display: flex;
    flex-direction: column;
    position: relative;
}

.trigger {
    outline: 0;
}

.dropdown {
    z-index: 11;
}

.placeSelect {
    flex-grow: 1;
    flex-basis: 33%;
}
