.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.innerContainer {
    box-sizing: border-box;
    padding: 0 10px;
    margin: 0 auto;
    width: 748px;

    /* min-height: 100vh; */
    max-width: var(--max-width);
}

@media (min-width: 1024px) {
    .innerContainer {
        width: 1004px;
        flex-grow: 1;
        flex-shrink: 0;
    }
}

.searchForm {
    box-sizing: border-box;
    padding-bottom: 30px;
}

.headerText {
    text-align: center;
    color: var(--color-white);
    font: var(--h1);
    margin-bottom: 30px;
}

.formContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.formInput {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
}

.places {
    display: flex;
}

.submitButton {
    border: 0;
    box-sizing: border-box;
    display: block;
    text-align: center;
    width: 274px;
    height: 59px;
    background: var(--color-orange);
    border-radius: 5px;
    color: var(--color-white);
    font: var(--h4);
    cursor: pointer;
    user-select: none;
    box-shadow: 0 1px 0 0 var(--color-orange-dark), 0 2px 6px 0 rgba(0, 0, 0, 0.15);

    &:hover {
        background-color: #ff8124;
    }
}
