.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.innerContainer {
    box-sizing: border-box;
    padding: 0 10px;
    margin: 0 auto;
    width: 748px;

    /* min-height: 100vh; */
    max-width: var(--max-width);
}

@media (min-width: 1024px) {
    .innerContainer {
        width: 1004px;
        flex-grow: 1;
        flex-shrink: 0;
    }
}

.searchForm {
    box-sizing: border-box;
    padding-bottom: 30px;
}

.headerText {
    text-align: center;
    color: var(--color-white);
    font: var(--h1);
    margin-bottom: 30px;
}

.formContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.formInput {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
}

.places {
    display: flex;
}

.buttonWrapper {
    width: 274px;
    height: 59px;
}

.buttonText {
    font: var(--h4);
}
