.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.innerContainer {
    box-sizing: border-box;
    padding: 0 10px;
    margin: 0 auto;
    width: 100%;

    /* min-height: 100vh; */
    max-width: var(--max-width);
}

@media (min-width: 1024px) {
    .innerContainer {
        width: 1004px;
        flex-grow: 1;
        flex-shrink: 0;
    }
}

.searchForm {
    box-sizing: border-box;
    padding-bottom: 30px;
}

.headerText {
    text-align: center;
    color: var(--color-white);
    font: var(--h1);
    margin-bottom: 30px;
}

.formContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.formInput {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
}

.places {
    display: flex;
}

.buttonWrapper {
    width: 274px;
    height: 59px;
}

.buttonText {
    font: var(--h4);
}

.isLoading {
    height: 4px;
    width: 100%;
    position: relative;
    overflow: hidden;
    background-color: #ddd;

    &::before {
        display: block;
        position: absolute;
        content: "";
        left: -200px;
        width: 200px;
        height: 4px;
        background-color: #2980b9;
        animation: loading 2s linear infinite;
    }
}

@keyframes loading {
    from {
        left: -200px;
        width: 30%;
    }
    50% { width: 30%; }
    70% { width: 70%; }
    80% { left: 50%; }
    95% { left: 120%; }
    to { left: 100%; }
}
