.triggerContainer {
    box-sizing: border-box;
    background-color: var(--color-white);
    margin-bottom: 2px;
    margin-right: 0;
    height: 60px;
    cursor: pointer;

    &.isFirst {
        border-radius: 5px 5px 0 0;
    }

    &.isLast {
        border-radius: 0 0 5px 5px;
    }
}

.icon {
    display: inline-flex;
    cursor: pointer;
    padding: 10px 2px 10px 10px;
}

@media (min-width: 640px) {
    .triggerContainer {
        margin-right: 2px;
        margin-bottom: 0;

        &.isFirst {
            border-radius: 5px 0 0 5px;
        }

        &.isLast {
            border-radius: 0 5px 5px 0;
        }
    }
}
