:root {
    --width: 152px;
    --height: 46px;
}

.triggerContainer {
    min-height: var(--height);
    min-width: var(--width);
    display: inline-block;
    box-sizing: border-box;
    background-color: var(--color-white);
    margin-right: 2px;
    cursor: pointer;

    &.isFirst {
        border-radius: 5px 0 0 5px;
    }
}

.triggerText {
    font: 200 19px/24px 'Arial', sans-serif;
    color: #484848;
    margin: 0;
    padding: 11px 11px 9px;
    text-align: start;
}

.itemList {
    position: absolute;
    top: 49px;
    right: 2px;
    margin: 0;
    width: var(--width);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.25);
    padding: 15px 0;
    background: white;
}

.item {
    list-style-type: none;
    font: var(--p2);
    line-height: 35px;
    text-align: left;
    cursor: pointer;
    padding: 0 15px;
    outline: none;

    &:hover {
        background-color: var(--color-blue-light-background);
    }
}

.iataCode,
.name {
    color: var(--color-twilight);
}

.iataCode {
    margin-right: 15px;
}
