body {
    background-color: var(--color-white-background);
}

.form {
    background-color: var(--color-blue-white);
    height: 305px;
    transition: height 1s cubic-bezier(0.23, 1, 0.32, 1);

    &.formOnly {
        height: 100vh;
    }
}

.results {
    padding-top: 20px;
    padding-bottom: 40px;
    overflow: auto;
}
