.container {
    display: flex;
    justify-content: center;
    width: 748px;
    max-width: var(--max-width);
    padding: 0 10px;
    margin: 0 auto;
    box-sizing: border-box;
}

@media (max-width: 892px) {
    .container {
        flex-direction: column;
        width: 632px;
    }
}
