.container {
    /* width: 100vw;
    height: 100vh; */

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    /* background-color: var(--color-blue-white); */
}

.header {
    text-align: center;
    color: var(--color-twilight);
    font: var(--p1);
    margin-bottom: 30px;
}

.formContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.formInput {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
}

.places {
    display: flex;
}

.submitButton {
    --height: 46px;

    border: 0;
    box-sizing: border-box;
    display: block;
    text-align: center;
    width: 170px;
    height: var(--height);
    background: var(--color-orange);
    border-radius: var(--height);
    color: var(--color-white);
    font: var(--p1);
    cursor: pointer;
    user-select: none;

    &:hover {
        background-color: #ff8124;
    }
}
