.duration {
    font: var(--p3);
    text-align: center;
    color: var(--color-metal);
}

.bottom {
    display: flex;
    align-items: center;
    height: 13px;
}

.line {
    width: 96px;
    height: 1px;
    margin-right: 1px;
    background-color: var(--color-grey);
}
