@import url('https://fonts.googleapis.com/css?family=Open+Sans&subset=cyrillic-ext');

:root {
    /* Headers */
    --h1: 32px 'Open Sans', sans-serif;

    /* Paragraph text */
    --p1: 16px 'Open Sans', sans-serif;
    --p2: 14px 'Open Sans', sans-serif;
    --p3: 12px/18px 'Open Sans', sans-serif;
    --p4: 10px 'Open Sans', sans-serif;

    /* Colors */
    --color-white: #fff;
    --color-twilight: #4a4a4a;
    --color-metal: #8b9497;
    --color-grey: #d2d5d6;
    --color-blue: #2196f3;
    --color-blue-link: #00b1df;
    --color-orange: #ff6d00;
    --color-orange-dark: #d64d08;
    --color-blue-light-background: #e5f9ff;
    --color-grey-light-background: #f3f7fa;
    --color-metal-background: #eceff1;
    --color-metal-light-background: #f2fcff;
    --color-white-background: #f2f2f2;
}

html,
body {
    font-family: 'Open Sans', sans-serif;
    font-weight: normal;
    margin: 0;
    min-height: 100vh;
    min-width: 100vw;
    position: relative;
    background-color: var(--color-white-background);
}
