.connections {
    font: var(--p4);
    font-weight: 600;
    line-height: 1.21;
    text-align: center;
    color: var(--color-grey-light);
    text-transform: uppercase;
}

.bottom {
    display: flex;
    align-items: center;
    height: 13px;
    margin: 6px 20px 0;
}

.line {
    width: 96px;
    height: 1px;
    margin-right: 1px;
    background-color: var(--color-bg-grey);
}
