.connections {
    font: var(--p4);
    text-align: center;
    color: var(--color-metal);
    text-transform: uppercase;
    padding-bottom: 7px;
}

.bottom {
    display: flex;
    align-items: center;
    height: 13px;
}

.line {
    width: 96px;
    height: 1px;
    margin-right: 1px;
    background-color: var(--color-grey);
}
