.row {
    height: 36px;
    display: flex;
    align-items: center;
    position: relative;
    width: 100%;
    box-sizing: border-box;
    cursor: pointer;
    user-select: none;
    font: var(--p3);
    color: var(--color-twilight);
}

.input {
    display: none;
}

.checkmark {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 17px;
    width: 17px;
    border-radius: 3px;
    border: 1px solid var(--color-grey);
    background-color: var(--color-white);
    margin-right: 10px;
}

.input:checked ~ .checkmark {
    border-color: var(--color-blue);
    background-color: var(--color-metal-light-background);
}

.checkmark::after {
    display: none;
    content: "";
    width: 4px;
    height: 6px;
    border: solid var(--color-blue);
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}

.input:checked ~ .checkmark::after {
    display: block;
}
