.itemList {
    width: 100%;
    position: absolute;
    top: 68px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.25);
    padding: 15px 0;
    background: white;
    border-radius: 0 0 5px 5px;
    overflow-y: auto;
}

.item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    font: var(--p2);
    line-height: 35px;
    text-align: left;
    cursor: pointer;
    padding: 0 15px;
    color: var(--color-twilight);
    user-select: none;

    &.isSelected {
        color: var(--color-blue);
    }

    &.isDisabled {
        color: var(--color-metal);
        pointer-events: none;
    }

    &:hover {
        background-color: var(--color-blue-light-background);
    }
}

@media (min-width: 640px) {
    .itemList {
        width: calc(100% - 2px);
    }
}
